
<div class="row">
  	<div class="col-md-8">
		<div class="jumbotron">
		  <h1>The Digest!</h1>
		  <p>The worlds premier news platform.</p>
		  <p><%= link_to "Sign Up Today", new_user_path, class:"btn btn-primary btn-lg" %></p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
  			<div class="panel-heading">Log In</div>
  			<div class="panel-body">
				<%= form_for(:credentials, url: signin_path) do |f| %>
				  	<div class="form-group">
						<%= f.label :username%>
						<%= f.text_field :username, class: 'form-control'%>
					</div>
						<div class="form-group">
						<%= f.label :password%>
						<%= f.password_field :password, class: 'form-control'%>
					</div>
					<%= submit_tag "log in" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

